
<template>

    <div v-if="$store.getters.authorised">
        <h6 @click="invokeServerMethodA">Invoke Server Method A</h6>
        <h6 @click="insertRecordPaolo">Insert record Paolo</h6>

        <h6 @click="updateSpecieWookiee">Update species Wookiee (no cache, no dec, dur)</h6>
        <h6 @click="updateSpecieWookiee400">Update 400 species Wookiee</h6>
        <h6 @click="insertSpeciePuffi">Insert species Puffi</h6>
        <h6 @click="deleteSpeciePuffi">Delete species Puffi</h6>


        <h6 @click="insertPlanetVulcan">Insert planet Vulcan (cache, dur, decorated)</h6>
        <h6 @click="deletePlanetVulcan">Delete planet Vulcan</h6>
        <h6 @click="updatePlanetVulcan">Update planet Vulcan</h6>

        <h6 @click="insertScore">Insert score (no dur, no dec, cache)</h6>
        
        <h6 @click="insertLanding">Insert Leila landing (2 pk, dur, dec, cache)</h6>
        <h6 @click="deleteLanding">Delete Leila landing"</h6>


        <h6 @click="insertPlanetEmptyname">Insert planet with empty name</h6>

        <ul><li v-for="person in people" :key="person.name">{{ person }}</li></ul>
        <ul><li v-for="specie in species" :key="specie.name">{{ specie }}</li></ul>
        <ul><li v-for="planet in planets" :key="planet.name">{{ planet }}</li></ul>
        <ul><li v-for="landing in landings" :key="landing.person_name">{{ landing }}</li></ul>
        <ul><li v-for="weapon in weapons" :key="weapon.id">{{ weapon }}</li></ul>
        <ul><li v-for="starship in starships" :key="starship.name">{{ starship }}</li></ul>
        <ul><li v-for="member in council" :key="member.name">{{ member }}</li></ul>
        <ul><li v-for="score in scores" :key="score.score">{{ score }}</li></ul>
    </div>
    <Www v-else></Www>
    
</template>

<<script lang="ts">
import Vue from "vue";
import Www from "./Www.vue";
declare const Buffer: any;

export default Vue.extend({
    name: 'app',
    
    components: { Www },
    data() {
        return {
            people: [],
            species: [],
            planets: [],
            scores: [],
            landings: [],
            starships: [],
            council: [],
        }
    },
    mars: {

        people: {
            select: 'select * from people',
            table: 'people',
        },

        species: {
            select: 'select * from species', // where name = $x',
            table: 'species',
            columns: ['name', 'average_lifespan'],
            //parameters() {
            //    return { x: 'Wookiee' }
            //}
        },

        planets: {
            select: 'select * from planets',
            table: 'planets',
        },

        scores: {
            select: 'select * from scores',
            table: 'scores',
        },

        landings: {
            select: 'select * from landings',
            table: 'landings',
        },

        weapons: {
            select: 'select * from weapons',
            table: 'weapons',
            columns: ['weapon_id', 'weapon'],
        },

        starships: {
            select: 'select * from starships',
            table: 'starships',
            columns: ['name', 'hyperdrive_rating'],
        },

        council: {
            select: 'select * from council',
            table: 'council',
        },
    },
    methods: {
        invokeServerMethodA: function(){
            console.log("invokeServerMethodA");
            this.$store.dispatch('callServerMethod', { method:'methodA', parameters:{ i:42 } });
        },
        insertRecordPaolo: function() {
            console.log("insert record 'paolo' into people");
            this.$mars.insertRecord(0, { 'name': 'Paolo', 'gender': 'male', 'photo': new Buffer([42, 43, 44, 45]), 'height': 1.80 });
        },


        insertSpeciePuffi: function() {
            console.log("insert specie 'puffi' into species");
            this.$mars.insertRecord(1, { name: 'Puffi', average_lifespan: 100 });
        },
        deleteSpeciePuffi: function() {
            console.log("delete specie 'puffi' into species");
            this.$mars.deleteRecord(1, { name: 'Puffi' });
        },
        updateSpecieWookiee: function() {
            console.log("update specie Wakee");
            this.$mars.updateRecord(1, { name: 'Wookiee' }, { name: 'Wookiee', average_lifespan: 1 });
        },
        updateSpecieWookiee400: function() {
            console.log("update specie Wookiee");
            this.$mars.updateRecord(1, { name: 'Wookiee' }, { name: 'Wookiee', average_lifespan: 400 });
        },


        insertPlanetVulcan: function() {
            console.log("insert record 'vulcan' into planets");
            this.$mars.insertRecord(2, { name: 'Vulcan', population: 12000 } );
        },
        deletePlanetVulcan() {
            console.log("delete planet vulcan");
            this.$mars.deleteRecord(2, { name: 'Vulcan', population: 12000 } );
        },
        updatePlanetVulcan: function() {
            console.log("update planet vulcan");
            this.$mars.updateRecord(2, { name: 'Vulcan' }, { name: 'Vulcan', population: 1 });
        },
        insertPlanetEmptyname: function() {
            console.log("insert record 'emptyname' into planets");
            this.$mars.insertRecord(2, { name: '', population: 12000 } );
        },

        insertLanding: function() {
            console.log("insert landing for leila on tatooine");
            this.$mars.insertRecord(4, { person_name: 'Leila', planet_name: 'Tatooine', landings:1 })
        },
        deleteLanding: function() {
            console.log("delete landing for leila on tatooine");
            this.$mars.deleteRecord(4, { person_name: 'Leila', planet_name: 'Tatooine' })
        },


        insertScore: function() {
            console.log("insert score");
            this.$mars.insertRecord(3, { score: 42 } );
        },
    },

});


</script>

