<template>
    <div>
        Not logged in...
        <!--LoginForm v-if="readyToLogin" LoginForm></LoginForm-->
    </div>
</template>

<<script lang="ts">

//import LoginForm from './components/LoginForm';
export default {
    name: 'Www',
    //components: {  LoginForm },
    computed: {
        readyToLogin() {
            const s = (this as any).$store.state.mars.connectionStatus;
            return s !== "connecting" && s !== "waitingForReconnection";
        },
    },
}
</script>